<div class="page-header">
  <%= image_tag(@user.gravatar_url) %>
  <h1 style="float: right;"><%= @user.full_name %></h1>
</div>


<div>
  <strong>My activities</strong>
  <br>
  <button type="button" class="btn btn-success"> <%= link_to 'Plans', profile_path(selection: 'Plans') %> </button>
  <button type="button" class="btn btn-success"> <%= link_to 'Initiated', profile_path(selection: 'Initiated') %> </button>
  <button type="button" class="btn btn-success"> <%= link_to 'Requested', profile_path(selection: 'Requested') %> </button>
</div>
<br>
<% @actR.each do |f| %>
  <% if f.activity %>
  <div class="row activity" >
      <div class="span1" style="float: left">
        <% if @user.id == f.user.id %>
          <%= link_to image_tag(f.friend.gravatar_url), profile_path(f.friend.profile_name) %>
        <% else %>
          <%= link_to image_tag(f.user.gravatar_url), profile_path(f.user.profile_name) %>
        <% end %>
      </div>
      <div class="span4" style="padding-left: 100px">
      <% if @user.id == f.user.id %>
        <strong><%= f.friend.full_name %></strong>
      <% else %>
        <strong><%= f.user.full_name %></strong>
      <% end %>
        <br>
        <%= link_to f.activity.title, f.activity %>
        <br>
        <br>
        <%= link_to 'Destroy', f, confirm: 'Are you sure you want to delete this activity request? ', method: :delete %> 
        <% if params[:selection]=="Initiated" %>
          | <%= link_to "Decide", edit_activity_request_path(f.id) %>
        <% end %>
      </div>
  <% end %>
</div>
<br>
<% end %>
